<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('admin_dashboard') }}">
                <strong>Admin</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarAdmin">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarAdmin" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item {% if app.request.attributes.get('_route') == 'admin_dashboard' %}is-active{% endif %}" 
                   href="{{ path('admin_calendar') }}">
                    <span class="icon"><i class="fas fa-calendar"></i></span>
                    <span>Calendrier</span>
                </a>

                <a class="navbar-item {% if app.request.attributes.get('_route') == 'app_employee_index' %}is-active{% endif %}" 
                   href="{{ path('app_employee_index') }}">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span>Employés</span>
                </a>

                <a class="navbar-item {% if app.request.attributes.get('_route') == 'app_client_index' %}is-active{% endif %}" 
                   href="{{ path('app_client_index') }}">
                    <span class="icon"><i class="fas fa-user-tie"></i></span>
                    <span>Clients</span>
                </a>

                <a class="navbar-item {% if app.request.attributes.get('_route') == 'app_prestation_index' %}is-active{% endif %}" 
                   href="{{ path('app_prestation_index') }}">
                    <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                    <span>Prestations</span>
                </a>

                <a class="navbar-item {% if app.request.attributes.get('_route') == 'app_service_index' %}is-active{% endif %}" 
                   href="{{ path('app_service_index') }}">
                    <span class="icon"><i class="fas fa-concierge-bell"></i></span>
                    <span>Services</span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-light is-outlined" href="{{ path('app_logout') }}">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span>Déconnexion</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
