{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ prestation.date ? prestation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HeureDebut</th>
                <td>{{ prestation.heureDebut ? prestation.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ prestation.duree }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ prestation.statut }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ prestation.prixTotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prestation_index') }}">back to list</a>

    <a href="{{ path('app_prestation_edit', {'id': prestation.id}) }}">edit</a>

    {{ include('prestation/_delete_form.html.twig') }}
{% endblock %}
