{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb mb-5" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{{ path('app_client_index') }}">
                            <span class="icon"><i class="fas fa-users"></i></span>
                            <span>Clients</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_client_show', {'id': client.id}) }}">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span>{{ client.prenom }} {{ client.nom }}</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="#" aria-current="page">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                            <span>Modification</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="box">
                <div class="level mb-4">
                    <div class="level-left">
                        <h2 class="title is-4">
                            <span class="icon-text">
                                <span class="icon"><i class="fas fa-user-edit"></i></span>
                                <span>Modifier {{ client.prenom }} {{ client.nom }}</span>
                            </span>
                        </h2>
                    </div>
                    <div class="level-right">
                        <span class="tag is-medium">ID: {{ client.id }}</span>
                    </div>
                </div>
                  <div class="content">
                    {{ include('client/_form.html.twig', {
                        'button_label': 'Mettre à jour',
                        'button_icon': 'save'
                    }) }}
                </div>

                <div class="level mt-5">
                    <div class="level-left">
                        <a href="{{ path('app_client_index') }}" class="button is-light">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Retour à la liste</span>
                        </a>
                    </div>
                    <div class="level-right">
                        <div class="buttons">
                            {{ include('client/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}