{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-4">Créer un client</h1>

            {{ form_start(form, {'attr': {'id': 'client_form'}}) }}

            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="field">
                        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.nom, {'attr': {'class': 'input'}}) }}
                        </div>
                        <p class="help is-danger">{{ form_errors(form.nom) }}</p>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.prenom, {'attr': {'class': 'input'}}) }}
                        </div>
                        <p class="help is-danger">{{ form_errors(form.prenom) }}</p>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        {{ form_label(form.telephone, 'Téléphone', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.telephone, {'attr': {'class': 'input'}}) }}
                        </div>
                        <p class="help is-danger">{{ form_errors(form.telephone) }}</p>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'label'}}) }}
                        <div class="control">
                            {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
                        </div>
                        <p class="help is-danger">{{ form_errors(form.email) }}</p>
                    </div>
                </div>
            </div>

            <div class="field mt-4">
                <div class="control">
                    <button type="submit" class="button is-primary">
                        <span class="icon"><i class="fas fa-{{ button_icon|default('save') }}"></i></span>
                        <span>{{ button_label|default('Enregistrer') }}</span>
                    </button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
